BasedOnStyle: LLVM
TabWidth: 4
IndentWidth: 4
InsertNewlineAtEOF: true
Language: Cpp
ColumnLimit: 80
MaxEmptyLinesToKeep: 1
PointerAlignment: Right
ReferenceAlignment: Pointer
RemoveParentheses: MultipleParentheses
RemoveSemicolon: true
AlwaysBreakAfterReturnType: TopLevelDefinitions
BreakBeforeBraces: Linux

IncludeBlocks: Regroup
IncludeCategories:
# External deps
  - Regex: '<.*/.*'
    Priority: 2
# System / libstd
  - Regex: '<[[:alnum:].]+>'
    Priority: 3
# Internal headers
  - Regex: '^".*'
    Priority: 1
