
BasedOnStyle: Google
Language: Cpp
ColumnLimit: 80
MaxEmptyLinesToKeep: 1
InsertNewlineAtEOF: true
PointerAlignment: Right
ReferenceAlignment: Pointer
TabWidth: 4
IndentWidth: 4

IncludeBlocks: Regroup
IncludeCategories:
# Internal deps
  - Regex: '<umugu/.*'
    Priority: 2
# External deps
  - Regex: '<.*/.*'
    Priority: 3
# System / libstd
  - Regex: '<[[:alnum:].]+>'
    Priority: 4
# Internal headers
  - Regex: '^".*'
    Priority: 1
